.main-header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin: 0;
}

.nav-item {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  margin-right: 20px;
  background-color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item {
  color: #000;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
}

.nav-item:hover {
  background-color: #ff4d55;
  transition: 0.3s;
  color: #fff;
}

.nav-item:active {
  background-color: #f52b35;
  transition: 0.3s;
}

.nav-item-icon {
  margin-right: 10px;
}

.disabled-link {
  pointer-events: none;
  color: #959595;
  opacity: 0.5;
}

.vl {
  border-left: 4px solid #ff4d55;
  height: 60px;
}

.logo {
  margin-left: 100px;
}
