.users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 0 100px;
  width: 100%;
}

.users-page > table {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.users-page > table > thead > tr > th {
  padding: 12px;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
}

.error-row > td,
.user-row > td {
  padding: 12px;
}

.user-row > td {
  border: 1px solid #ddd;
  cursor: pointer;
}

.user-row:hover {
  background-color: #e9e9e9;
}

.is-selected {
  background-color: #e9e9e9;
}
