.user-form-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.user-form-page > .user-form {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-title {
  margin: 8px 0;
}

.form-back {
  width: fit-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.form-back:hover {
  color: #ff4d55;
}

.form-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.form-button:hover {
  background-color: #ff6b73;
  transition: 0.3s;
}

.form-button:active {
  background-color: #f52b35;
  transition: 0.3s;
}

.active-button {
  background-color: #ff4d55;
}

.disabled-button {
  pointer-events: none;
  background-color: #959595;
  opacity: 0.5;
}

.form-input {
  position: relative;
  margin: 10px 0;
  width: 100%;
}

.form-input .input-text {
  width: 100%;
  padding-bottom: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
  font-size: 16px;
  border-width: medium medium 2px;
  border-color: #b7b7b7;
}

.form-input .input-text:focus {
  border-color: #ff4d55;
}

.form-input .floating-label {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 2px;
  transition: 0.2s ease all;
}

.form-input input:focus ~ .floating-label,
.form-input input:not(:focus):valid ~ .floating-label {
  top: -12px;
  left: 2px;
  font-size: 11px;
  opacity: 1;
}

.form-input input:focus ~ .floating-label {
  color: #ff4d55;
}

.form-input input:not(:focus):valid ~ .floating-label {
  color: #b7b7b7;
}
